.bg-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-wrapper_mountain {
    background-image: url("../images/content/mountain.jpg");
}

.bg-wrapper_budda {
    background-image: url("../images/content/budda.jpg");
}
