.btn-scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.btn-scroll__icon {
    height: 30px;
    fill: currentColor;
}

.btn-scroll__text {
    font-size: 18px;
    font-weight: 600;
}
