.contact__container {
    padding: 85px 0 140px;
}

.contact__heading {
    margin-bottom: 90px;
    max-width: 850px;

    @include heading-big;

    @include desktop {
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px;
    }

    @include tablets {
        font-size: 24px;
        text-align: left;
    }
}