.header {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    @include desktop {
        display: none;
    }
}

.header__links {
    @include desktop {
        margin-left: auto;
        margin-right: 90px;
    }

    @include tablets {
        display: none;
    }
}